# 3. 판다스 데이터프레임과 시리즈

데이터프레임과 시리즈는 리스트나 딕셔너리와 비슷하지만 데이터를 다루는 데 더 특화되어있다. 리스트아 딕셔너리는 많은 양의 데이터를 저장하거나 데이터를 조작할 수 있는 메서드가 많지 않습니다. 반면에 판다스의 데이터프레임과 시리즈는 많은 양의 데이터를 저장할 수 있을 뿐만 아니라 스프레드시트 프로그램을 사용하는 것처럼 행과 열 단위로 원하는 데이터를 조작할 수 있는 다양한 속성과 메서드를 제공합니다.그러면 데이터프레임과 시리즈에 대해 좀 더 자세히 알아보겠습니다.


### 3-1 나만의 데이터 만들기
### 3-2 시리즈 다루기 - 기초
### 3-3 시리즈 다루기 - 응용
### 3-4 데이터프레임 다루기
### 3-5 시리즈와 데이터프레임의 데이터 처리하기
### 3-6 데이터 저장하고 불러오기

## 3-1 나만의 데이터 만들기

### 1. 시리즈 만들기
판다스의 Series 메서드에 리스트를 전달하여 시리즈를 생성합니다.

In [1]:
import pandas as pd
s = pd.Series(['banana',42])
print(s)

0    banana
1        42
dtype: object

#### 2. 
인덱스는 보통 0부터 시작한다고 설명했던 것을 기억하나요? 하지만 시리즈를 생성할 때 문자열을 인덱스로 지정할 수도 있습니다. 문자열을 인덱스로 지정하려면 Series메서드의 index 인자를 통해 인덱스로 사용하고자 하는 문자열을 리스트에 담아 전달하면 됩니다.

In [2]:
s = pd.Series(['Wes McKinney','Creator of Pandas'])
print(s)

0         Wes McKinney
1    Creator of Pandas
dtype: object

In [3]:
s = pd.Series(['Wes McKinney','Creator of pandas'], index = ['Person','Who'])
print(s)

Person         Wes McKinney
Who       Creator of pandas
dtype: object

#### 3. 데이터프레임 만들기
데이터프레임을 만들기 위해서는 딕셔너리를 DataFrame 클래스에 전달해야 합니다.

In [20]:
scientists = pd.DataFrame({
    'Name':['Rosaline Franklin', 'William Gosset'],
    'Occupation':['Chemist','Statistician'],
    'Born':['1920-07-25', '1876-06-13'],
    'Died':['1958-04-16', '1937-10-16'],
    'Age':[37, 61]})

print(scientists)

                Name    Occupation        Born        Died  Age
0  Rosaline Franklin       Chemist  1920-07-25  1958-04-16   37
1     William Gosset  Statistician  1876-06-13  1937-10-16   61

In [18]:
scientists = pd.DataFrame({
    'Name': ['Rosaline Franklin', 'William Gosset'],
    'Occupation' : ['Chemist', 'Statistician'],
    'Born': ['1920-07-05', '1876-06-13'],
    'Died': ['1958-04-16', '1937-10-16'],
    'Age': [37,61]}
)
scientists

                Name    Occupation        Born        Died  Age
0  Rosaline Franklin       Chemist  1920-07-05  1958-04-16   37
1     William Gosset  Statistician  1876-06-13  1937-10-16   61

#### 4.
시리즈와 마찬가지로 데이터프레임도 인덱스를 따로 지증하지 않으면 인덱스를 0부터 자동으로 생성한다. 인덱스를 따로 지정하려면 index 인자에 리스트를 전달하면 된다. 또한, columns인자를 사용하면 데이터프레임의 열 순서를 지정할 수 있다.

In [21]:
scientists = pd.DataFrame(
    data={'Occupation' : ['Chemist', 'Statistician'],
    'Born': ['1920-07-05', '1876-06-13'],
    'Died': ['1958-04-16', '1937-10-16'],
    'Age': [37,61]},
    index=['Rosaline Franklin', 'William Gosset'],
    columns=['Occupation', 'Born', 'Age', 'Died']
)

print(scientists)

                     Occupation        Born  Age        Died
Rosaline Franklin       Chemist  1920-07-05   37  1958-04-16
William Gosset     Statistician  1876-06-13   61  1937-10-16

## 3-2 시리즈 다루기 - 기초

판다스의 데이터 구성 기본 단위는 시리즈이다. 시리즈에 대해 알아보자.

### 데이터프레임에서 시리즈 선택
#### 1 

우선 변수 scientists에 데이터프레임을 준비 하자

In [22]:
scientists = pd.DataFrame(
    data={'Occupation' : ['Chemist', 'Statistician'],
    'Born': ['1920-07-05', '1876-06-13'],
    'Died': ['1958-04-16', '1937-10-16'],
    'Age': [37,61]},
    index=['Rosaline Franklin', 'William Gosset'],
    columns=['Occupation', 'Born', 'Age', 'Died']
)

print(scientists)

                     Occupation        Born  Age        Died
Rosaline Franklin       Chemist  1920-07-05   37  1958-04-16
William Gosset     Statistician  1876-06-13   61  1937-10-16

#### 2 
데이터프레임에서 시리즈를 선택하려면 loc속성에 인덱스를 전달하면 된다.

In [23]:
first_row = scientists.loc['William Gosset']

type(first_row)

pandas.core.series.Series

In [24]:
first_row

Occupation    Statistician
Born            1876-06-13
Age                     61
Died            1937-10-16
Name: William Gosset, dtype: object

### 시리즈 속성과 메서드 사용 - index, values, keys

#### 1. index 속성 사용

In [25]:
first_row.index

Index(['Occupation', 'Born', 'Age', 'Died'], dtype='object')

#### 2. values 속성 사용

In [26]:
first_row.values

array(['Statistician', '1876-06-13', 61, '1937-10-16'], dtype=object)

#### 3. key 메서드 사용

keys는 속성이 아니라 메서드라는 표현을 사용했다. keys 메서드는 index속성과 같은 역할은 한다. 즉, 과정1의 결과와 동일한 결과값을 얻을 수 있다.

In [27]:
first_row.keys()

Index(['Occupation', 'Born', 'Age', 'Died'], dtype='object')

#### 4. index 속성 응용

In [28]:
first_row.index[0]

'Occupation'

#### 5. keys 메서드 응용

In [29]:
first_row.keys()[0]

'Occupation'

### 시리즈의 기초 통계 메서드 사용

시리즈에는 keys메서드 외에도 다양한 메서드가 있다. mean, min, max, std메서드의 사용방법을 알아보자.

#### 1. 
scientists의 Ages열을 추출 해보자.

In [30]:
ages = scientists['Age']
ages

Rosaline Franklin    37
William Gosset       61
Name: Age, dtype: int64

#### 2. 

시리즈를 구성하는 데이터가 정수이면 mean, min, max, std와 같은 통계 메서드를 사용할 수 있다.

In [32]:
print(ages.mean()) # ages 평균
print(ages.min()) # ages 최소값
print(ages.max()) # ages 최대값
print(ages.std()) # age 표준편차

49.0
37
61
16.97056274847714

#### 시리즈 메서드 정리
|시리즈 메서드|설명|
|:-:|:-:|
|append|2개 이상의 시리즈 연결|
|describe|요약 통계량 계산|
|drop_duplicates|중복값이 없는 시리즈 변환|
|equals|시리즈에 해당 값을 가진 요소가 있는지 확인|
|get_values|시리즈 값 구하기(values 속성과 동일)|
|isin|시리즈에 포함관 값이 있는지 확인|
|min|최소값|
|max|최대값|
|mean|평균값|
|median|중간값|
|replace|특정 값을 가진 시리즈 값을 교체|
|sample|시리즈에서 임의의 값을 변환|
|sort_values|값을 정렬|
|to_frame|시리즈를 데이터프레임으로 변환|

## 3-3 시리즈 다루기 - 응용

### 시리즈와 불린 추출

불린 추출에 대해 알아보자. 불린 추출은 특정 조건을 만족하는 값만 추출할 수 있다.

### 시리즈와 불린 추출 사용

#### 1. 
sceintists.csv를 불러와서 시작 하자

In [33]:
scientists = pd.read_csv("./data/scientists.csv")

#### 2.

In [34]:
ages = scientists['Age']

print(ages.max())
print(ages.mean())

90
59.125

#### 3.

이제 불린 추출 사용법을 알아보자. 예로 평균 나이보다 나이가 많은 사람의 데이터를 추출하기 위해선 다음의 코드를 사용하면 된다.

In [35]:
print(ages[ages < ages.mean()])

0    37
4    56
5    45
6    41
Name: Age, dtype: int64

#### 4. 
이번에는 이 값을 TF로 표현을 해보자

In [36]:
print(ages > ages.mean())

0    False
1     True
2     True
3     True
4    False
5    False
6    False
7     True
Name: Age, dtype: bool

#### 5. 
위에서 보듯이 리스트 형태로 True/False를 시리즈에 전달 하면 True만 필터링 해서 추출을 하는데 이것을 불린 추출이라고 한다.

In [37]:
manual_bool_values = [True, True, False, False, True, True, False, True]

ages[manual_bool_values]

0    37
1    61
4    56
5    45
7    77
Name: Age, dtype: int64

### 시리즈와 브로드캐스팅 

시리즈나 데이터프레임에 있는 모든 데이터에 대해 한 번에 연산하는 것을 브로드캐스팅(Broadcasting)이라고 한다. 시리즈처럼 여러 개의 값을 가진 데이터를 벡터라고 하고 단순 크기를 나타내는 데이터는 스칼라라고 한다.

### 벡터와 스칼라로 브로드캐스팅 수행

#### 1. 
다음은 같은 길이의 벡터로 더하기 연산과 곱하기 연산을 수행한 것이다.

In [39]:
ages + ages

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

In [40]:
ages * ages

0    1369
1    3721
2    8100
3    4356
4    3136
5    2025
6    1681
7    5929
Name: Age, dtype: int64

#### 2. 
이번에는 벡터에 스칼라를 연산해보자.

In [42]:
ages + 100

0    137
1    161
2    190
3    166
4    156
5    145
6    141
7    177
Name: Age, dtype: int64

In [43]:
ages * 2

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

#### 3. 
길이가 서로 다른 벡터를 연산하려면? 시리즈와 시리즈를 연산하는 경우 같은 인덱스의 값만 계산하게 된다. 다음은 데이터의 개수가 2개인 시리즈와 8개인 시리즈를 더한것이다. 결과값을 보면 인덱스가 일치한 상위두개의 값만 계산을 하였고 나머지는 누락값(NaN)으로 처리가 된다.

In [44]:
pd.Series([1,100])

0      1
1    100
dtype: int64

In [45]:
ages + pd.Series([1,100])

0     38.0
1    161.0
2      NaN
3      NaN
4      NaN
5      NaN
6      NaN
7      NaN
dtype: float64

#### 4. 
다음은 sort_index 메서드를 사용한 것이다. 이때 ascending 인자로 False를 전달하여 인덱스 역순으로 데이터를 정렬한 결과이다.

In [46]:
rev_ages = ages.sort_index(ascending=False)
rev_ages

7    77
6    41
5    45
4    56
3    66
2    90
1    61
0    37
Name: Age, dtype: int64

#### 5. 

이번에는 인덱스를 역순으로 구성한 rev_age와 ages를 더하고, 동시에 ages에 2를 곱한 값을 비교해보자. 결과는 같을텐데, ages의 인덱스와 rev_ages의 인덱스가 일치하는 값끼리 연산을 수행했기 때문이다

In [47]:
print(ages * 2)
print(ages + rev_ages)

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64
0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

# 3-4 데이터프레임 다루기

### 불린 추출과 브로드캐스팅

#### 1. 불린 추출하기

In [48]:
print(scientists[scientists['Age'] > scientists['Age'].mean()])

                   Name        Born        Died  Age     Occupation
1        William Gosset  1876-06-13  1937-10-16   61   Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90          Nurse
3           Marie Curie  1867-11-07  1934-07-04   66        Chemist
7          Johann Gauss  1777-04-30  1855-02-23   77  Mathematician